/* Start Variables */
:root {
  --main-color: #19c8fa;
}
/* End Variables */
/*Start Global Ruling*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans" sans-serif;
  background-image: url("../images/landing.jpg");
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End Global Ruling*/

/*Start Heading*/
header {
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
  margin-bottom: 0px;
  position: relative;
}
header .container::before {
  content: "";
  background-color: white;
  height: 1px;
  width: calc(100% - 30px);
  position: absolute;
  bottom: -1px;
}
@media (max-width: 768px) {
  header .container {
    width: 100%;
  }
}
nav {
  display: flex;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  header nav .toggle-menu {
    display: flex;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
}

nav ul {
  display: inline-flex;
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  display: inline;
  margin: auto 5px;
}
header nav ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  header nav ul li:first-child {
    border-bottom: 1px solid var(--main-color);
  }
  header nav ul li {
    padding-bottom: 10px;
  }
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  padding: 29px 10px;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  nav ul li a {
    border-bottom: transparent !important;
  }
}
.form i {
  font-size: 15px;
  color: white;
  padding-left: 20px;
}
.form {
  border-left: solid white 2px;
  margin: 10px 0px 10px 30px;
}
.logo img {
  height: 30px;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--main-color);
  border-bottom: var(--main-color) solid 1px;
}

/*End Heading*/
